.item {
    height: 6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
}
.product-set {
    width: 40%;
    display: flex;
    img {
        margin: auto;
        width: 30%;
        height: auto;
    }
    .set-details {
        margin-left: 1em;
        margin-top: auto;
        margin-bottom: auto;
        h4 {
            margin-top: auto;
            margin-bottom: 0.5em;
            color: #324067;
        }
        p {
            margin-top: 0;
            color: #8082B1;
            font-weight: bold;
        }
        a {
            cursor: pointer;
            text-decoration: none;
            color: #8082B1;
        }
    }
}

.customization-details {
    height: 100%;
    width: 30%;
    overflow-y: scroll;
    margin-right: 1em;
    padding-right: 0.5em;
    .detail {
        display: flex;
        padding: 0.1em;

        h5 {
            margin: 0;
            color: #324067;
        }
        p {
            font-size: smaller;
            margin: 0;
            color: #324067;
            margin-left: auto;
        }
    }
}

.customization-details::-webkit-scrollbar {
  width: 8px;
}

.customization-details::-webkit-scrollbar-track {
  background: #8082B1;   
  border-radius: 8px;
}

.customization-details::-webkit-scrollbar-thumb {
  background: #324067; 
  border-radius: 8px;
}

.status, .total {
    width: 15%;
    h4 {
        color: #324067;
    }
}
