<div class="products container">
    <form [formGroup]="filter" class="filter">
        <h2>Filter</h2>
        <hr>
        <div class="button" (click)="clickedTypes()">
            <a>ToolType</a>
        </div>
        @if (showTypes) {
            <ul>
                <li><input type="checkbox" name="Type 1" formControlName="type1"> <label for="Type 1">Type 1</label></li>
                <li><input type="checkbox" name="Type 2" formControlName="type2"> <label for="Type 2">Type 2</label></li>
                <li><input type="checkbox" name="Type 3" formControlName="type3"> <label for="Type 3">Type 3</label></li>
            </ul>
        }
        <hr>
        <div class="button" (click)="clickedAvailability()">
            <a>Availability</a>
        </div>
        @if (showAvailability) {
            <ul>
                <li><input type="checkbox" name="In" formControlName="inStock"> <label for="In">In Stock</label></li>
                <li><input type="checkbox" name="Out" formControlName="outStock"> <label for="Out">Out of Stock</label></li>
            </ul>
        }
        
        <hr>
    </form>
    <div class="products-container">
        @for (product of products(); track product.id) {
            <app-product-card [product]="product" style="margin-left: 2em;"/>
        }
    </div>
</div>
