<div class="products container">
    <div class="filter">
        <h2>Filter</h2>
        <hr>
        <div class="button" (click)="clickedTypes()">
            <a>ToolType</a>
        </div>
        @if (showTypes) {
            <ul>
                <li><input type="checkbox" name="Screwdrivers" id=""> <label for="Screwdrivers">Screwdrivers</label></li>
                <li><input type="checkbox" name="Knife" id=""> <label for="Knife">Multitool Knife</label></li>
            </ul>
        }
        <hr>
        <div class="button" (click)="clickedAvailability()">
            <a>Availability</a>
        </div>
        @if (showAvailability) {
            <ul>
                <li><input type="checkbox" name="In" id=""> <label for="In">In Stock</label></li>
                <li><input type="checkbox" name="Out" id=""> <label for="Out">Out of Stock</label></li>
            </ul>
        }
        
        <hr>
    </div>
    <div class="products-container">
        <app-product-card/>
        <app-product-card/>
        <app-product-card/>
        <app-product-card/>
    </div>
</div>
